<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.MoocOrderTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.MoocOrderT">
        <result column="UUID" property="uuid" />
        <result column="cinema_id" property="cinemaId" />
        <result column="field_id" property="fieldId" />
        <result column="film_id" property="filmId" />
        <result column="seats_ids" property="seatsIds" />
        <result column="seats_name" property="seatsName" />
        <result column="film_price" property="filmPrice" />
        <result column="order_price" property="orderPrice" />
        <result column="order_time" property="orderTime" />
        <result column="order_user" property="orderUser" />
        <result column="order_status" property="orderStatus" />
    </resultMap>

    <select id="getSeatsByField" resultType="java.lang.String">
        select seat_address as seatAddress from mtime_field_t f, mtime_hall_dict_t h where f.hall_id = h.UUID and f.UUID = #{field}
    </select>

    <select id="getFilmInfoById" resultType="com.stylefeng.guns.rest.service.vo.filmvo.FilmInfoVO">
        SELECT
        f.film_id AS filmId,
        info.`film_name` AS filmName,
        info.`film_length` AS filmLength,
        info.`film_language` AS filmType,
        info.`film_cats` AS filmCats,
        info.`actors` AS actors,
        info.`img_address` AS imgAddress
        FROM
        mtime_field_t f,mtime_hall_film_info_t info
        WHERE
        f.`film_id` = info.`film_id`
        AND
        `UUID` = #{field}

    </select>
</mapper>
